################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/f452761c-2204-4c02-bcbc-68ffc303ff99.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/30ba462c-8196-4961-9232-98778d3da4fb.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/549df263-41c8-4cae-a51f-385e4ee3dc5d.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/89601fcf-eb20-4641-bb0f-974527e0ce22.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/a3f171d6-a094-4e6e-bfcb-9170f7da5a73.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/c721efe3-9235-4204-b8d0-bba10f52fea2.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/4b4cc1f4-e245-4546-abdd-a236d09c0037.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/7a4b4067-3894-4fa8-bf9e-75484af05343.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/ad6a57bc-f633-452c-83db-81513e89a855.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/b8693998-3902-4819-9547-3c690320be75.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/f75e7b13-ad2b-4cef-92e3-852b95cea56a.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/0f6d30f3-5682-4ab0-b47a-f6567588dc62.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/17b46bce-654d-474a-b180-570f8ed44c4e.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/49359041-8799-4bfa-8d1c-dffc35f3e2d4.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/cb5b8cb6-9e07-4fe5-bb68-b4410ca8b888.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/d73b67e6-2ded-4e40-8e7e-fdc4dcaf2780.vsidx
/D424Weightlifting/.vs/D424Weightlifting/FileContentIndex/0df9ca64-67a7-4c45-8c82-7382c22587a7.vsidx
/.vs/The5Lifts/FileContentIndex/3713ba46-3912-4c37-aab1-aa5c74bea816.vsidx
/.vs/The5Lifts/FileContentIndex/38693501-3e99-4b4e-a321-6a8dc000c9f1.vsidx
/.vs/The5Lifts/FileContentIndex/bce53d15-3678-4827-99bb-01a2a6e91ec7.vsidx
/.vs/The5Lifts/FileContentIndex/d9ca765e-6bf5-4f39-a08e-a74554f6d4de.vsidx
